/* GENERAL */
body {
    margin: 0;
    font-family: "Inter", sans-serif;
    transition: 0.25s;
}

/* TOP BAR */
.top-bar {
    height: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.top-actions {
    display: flex;
    gap: 15px;
}

.mode-btn {
    background: #6d28d9;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.logout-btn {
    color: white;
    text-decoration: none;
    background: #ef4444;
    padding: 6px 14px;
    border-radius: 8px;
}

/* CONTAINER */
.container {
    display: flex;
    min-height: calc(100vh - 60px);
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    padding: 20px;
}

.menu-card {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 12px;
    transition: 0.3s;
}

.menu-card:hover {
    transform: translateX(-4px);
}

.menu-card a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* CONTENT */
.content {
    flex: 1;
